//TODO: semantic-ui label design is kind of shitty with a lot of !important styling and gliches, which forces me to use !important here (or inline styles... both bad). 
// therefore - create a new custom circular label styling & component from scratch

.ui.feed>.event>.label.task-feed__task-label {
    display:flex;
    justify-content: center;
    align-self: center;
}